<div class="mt-10"> <!-- Margin top for spacing -->
  <button type="button" id="back-button" 
          class="rounded bg-indigo-50 px-4 py-2 text-xs font-semibold text-indigo-600 shadow-sm hover:bg-indigo-100"
          onclick="window.location.href='<%= root_path %>'"
          aria-label="Go back to the homepage">
    Back
  </button>

  <div data-controller="stripe-checkout"
       data-stripe-checkout-url-value="<%= product_purchases_path(@product) %>"
       id="checkout-container"
       class="w-[50%] p-6 bg-white rounded-lg shadow-lg flex justify-center items-center hover:bg-gray-100 transition-all mt-4"> <!-- Margin top for spacing -->
  </div>
</div>